---
permalink: "index.html"
---



<!DOCTYPE html>
<html>
<head>
 

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js">
		</script>
		<script src="https://d3js.org/d3.v4.min.js">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js">
		</script>

</head>



<body>



<a href="{{ 'svodka4tnsqldr.html' | url  }}">TNSQL-DR</a>

<br><br><br><br><br>

<a href="{{ 'svodka4tnsql.html' | url }}">TNSQL</a>


</body>

</html>